*, *:before, *:after {
  box-sizing: border-box;
}

.board {
  margin: 0 auto;
  max-width: 500px;

  display: flex;
  flex-wrap: wrap;
}

.board__tile {
  /* width: 48px; */
  /* height: 48px; */
  background: red;
  border: 1px solid black;
  box-sizing: border-box;
}

.board__snake {
  background: black;
}

.board__food {
  background: green;
}